<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main View</title>
</head>
<body>

    <h1>Bem vindo nessa porra</h1>

    <h2>TESTAR O GET FUDIDO</h2>

    <table>
        <thead>
            <th>nome</th>
            <th>email</th>
            <th>telefone</th>
            <th>senha</th>

        </thead>

        <tbody id="tbody">

        </tbody>
    </table>
    <br><br><br>
    <h2>TESTAR O POST DESSA PORRA</h2>

    <div>
        <form onsubmit = "return false;">
        <div>
            <label for="nome">Nome: </label>
            <input type="text" id="nome">
        </div>

        <div>
            <label for="email">Email: </label>
            <input type="email" id="email">
        </div>

        <div>
            <label for="telefone">Telefone: </label>
            <input type="text" id="telefone">
        </div>

        <div>
            <label for="senha">Senha: </label>
            <input type="password" id="senha">
        </div>
        <button type="submit" id="bt" >Enviar essa porra</button>
        </form>
    </div>
    <br><br><br>
    <h2>TESTAR O DELETE NESSA PORRA</h2>

    <div>
        <form onsubmit = "return false;">
        <div>
            <label for="id">ID DO OTÁRIO: </label>
            <input type="number" id="id">
        </div>
        <button type="submit" id="bt2" >Enviar essa porra</button>
        </form>
    </div>

    <br><br><br>
    <h2>TESTAR O UPDATE DESSA PORRA</h2>

    <div>
        <form onsubmit = "return false;">
            <div>
                <label for="id2">ID: </label>
                <input type="text" id="id2">
            </div>
        <div>
            <label for="nome2">Nome: </label>
            <input type="text" id="nome2">
        </div>

        <div>
            <label for="email2">Email: </label>
            <input type="email" id="email2">
        </div>

        <div>
            <label for="telefone2">Telefone: </label>
            <input type="text" id="telefone2">
        </div>

        <div>
            <label for="senha2">Senha: </label>
            <input type="password" id="senha2">
        </div>
        <button type="submit" id="bt3" >Enviar ESSE CARALHO</button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    
</body>
</html>